/* ESTILOS GENERALES */
:root {
    --dark: #2D2D2D;
    --grey-dark: #757677;
    --grey: #BCBEBE;
    --grey-light: #EBECEC;
    --background: #F0F2FA;
    --white: #FFFFFF;
    --primary-dark: #006884;
    --primary: #00809F;
    --primary-light: #0D97BB;
    --primary-extra-light: #E6EEEF;
    --info: #1A58DD;
    --info-dark: #041E49;
    --info-light: #C2E7FF;
    --success: #06C170;
    --success-dark: #094B28;
    --success-light: #C1F8CF;
    --warning: #FFB700;
    --warning-dark: #81124B;
    --warning-light: #FFD89C;
    --danger: #DF2020;
    --danger-dark: #A20F1D;
    --danger-light: #F8D7DA;
    --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

main {
    min-height: 100vh;
}

hr {
    background-color: var(--primary-dark);
}

/* Typography */
.heading-1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
}

.heading-2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.heading-4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
}

.small-text {
    font-size: .75rem;
}

/* End typography */

/* Buttons */
.btn {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: .5rem 1.5rem;
}

.outline-negative-button {
    border: 2px solid var(--primary-extra-light);
    color: var(--primary-extra-light);
}

.outline-negative-button:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--primary-light);
}

.outline-negative-button:focus {
    background-color: var(--primary-extra-light);
    border: 2px solid var(--primary-extra-light);
    color: var(--primary-light);
    box-shadow: 0 0 0 0.25rem rgba(230, 238, 239, 0.5);
}

.secondary-negative-button {
    background-color: var(--primary-extra-light);
    border: 2px solid var(--primary-extra-light);
    color: var(--primary-light);
}

.secondary-negative-button:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--primary-light);
}

.secondary-negative-button:focus {
    background-color: var(--primary-extra-light);
    border: 2px solid var(--primary-extra-light);
    color: var(--primary-light);
    box-shadow: 0 0 0 0.25rem rgba(230, 238, 239, 0.5);
}

.ghost-negative-button {
    border: 2px solid transparent;
    color: var(--primary-extra-light);
}

.ghost-negative-button:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--primary-light);
}

.ghost-negative-button:focus {
    background-color: var(--primary-extra-light);
    border: 2px solid var(--primary-extra-light);
    color: var(--primary-light);
    box-shadow: 0 0 0 0.25rem rgba(230, 238, 239, 0.5);
}

/* HEADER */
.navbar-sistelar {
    background-color: var(--primary-light);
}

.navbar-nav {
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-toggler {
    color: var(--primary-extra-light);
}
/* END HEADER */

/* SECTION */
.section {
    /* background-color: lavender; */
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
/* END SECTION */
/* SECTION ABOUT */
.section-about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.video {
    min-width: 560px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.bg-section {
    background-color: var(--background);
}
/* END SECTION ABOUT */

/* SECTION SERVICES */
.service-card {
    background-color: var(--white);
    border: 3px solid var(--primary-light);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 4rem 1rem 1rem 1rem;
    position: relative;
    text-align: center;
}

.wrap-icon-card {
    background-color: var(--primary-light);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}

.section-services__cards {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
/* END SECTION SERVICES */

/* SECTION BRAND */
.section-brand__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.img-brand {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 30rem;
}

.section-brand__text {
    text-align: center;
}

.img-brand-logo {
    width: 8rem;
}

.slogan {
    font-size: 1.5rem;
}
/* END SECTION BRAND */