/* Laptop */
@media (max-width: 1366px) {

}
/* Fin laptop */
/* Tablet landscape */
@media (max-width: 1024px) {
    /* SECTION ABOUT */
    .video {
        min-width: 450px;
    }

    .heading-1 {
        font-size: 2rem;
    }
    /* END SECTION ABOUT */

    /* SECTION BRAND */
    .img-brand {
        width: 20rem;
    }
    /* END SECTION BRAND */

}
/* Fin tablet landscape */

/* Tablet portrait */
@media (max-width: 768px) {
    /* SECTION ABOUT */
    .section {
        /* background-color: lavender; */
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .section-about__content {
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .video {
        min-width: 100%;
    }

    .section-about__text {
        /* background-color: aqua; */
        text-align: center;
    }

    .d-none-mobile {
        display: none;
    }
    /* END SECTION ABOUT */

    /* SECTION SERICE */
    .section-services__cards {
        padding-top: 5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    
    /* END SECTION SERVICE */

    /* SECTION BRAND */
    .img-brand-logo {
        width: 5rem;
    }
    /* END SECTION BRAND */

}
/* fin tablet portrait */
/* Cell landscape */
@media (max-width: 736px) {
    /* SECTION BRAND */
    .section-brand__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /* END SECTION BRAND */
}
/* Fin cell landscape */

/* Cell portrait */
@media (max-width: 480px) {
    /* SECTION BRAND */
    .img-brand {
        width: 100%;
    }
    /* END SECTION BRAND */

    /* FOOTER */
    .footer-main {
        flex-direction: column;
        gap: 1rem;
    }

    .wrap-logo-footer {
        /* background-color: aquamarine; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* END FOOTER */
}
/* Fin cell portrait */

